.generatedDiv {
    text-align: center;
}

.generatedButton {
    padding: 10px;
    width: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    border: none;
}
.generatedCards{
    display: flex;
    justify-content: center;
    width: 100%;
}

.generatedCards * {
    margin: 0px -98px;
}

.pile-1 {
    display: flex;
    justify-content: center;

}

.choosenCard {
    display: block;
    width: 300px;
    margin: 0px auto;
}

.choosenCard img {
    width: 100%;
    height: auto;
}