
body {
    background-color: black;
}

.header {
    color: white;
    width: 100%;
    display: flex;
    height: 200px;
    padding: 50px;
}

.madeBy {
    color: #b5b5b5;
    width: 150px;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    font-size: 20px;
}

.headerTitle {
    width: 420px;
    text-align: center;
    margin: 0 auto;
    font-size: 36px;
    text-align: center;
    font-family: 'Notable', sans-serif;
}

.headerSource {
    width: 170px;
    text-align: center;
}

.mainTitle {
    color: white;
    position: relative;
    margin: 0px auto;
    width: 800px;
    text-align: center;
    color: #b5b5b5;
    font-family: Roboto Mono,monospace;
    font-size: 30px;
}